
.Inicio h1{
    margin-left: 0;
}
    
.Inicio h2{
    margin-left: 0px;
}

.Inicio button{
    height: 60px;
    width: 250px;
    font-size: 25px;
    margin-top: 60px;
}
.Inicio button:nth-child(3) {
    width: 300px;
}

@media only screen and (min-width: 325px) and (max-width: 767px) {

.Inicio .titulo{

 margin-top: 60px;
}
}