.Ingresar_Tarea .Recordatorio{
  display: none;
}

.Ingresar_Tarea .Recordatorio h1 {
  margin-left: 150px;
}

.Ingresar_Tarea .Recordatorio .item {
  display: flex;
  margin-left: 200px;
  margin-top: 20px;
}

.Ingresar_Tarea .Recordatorio .input{
  height: 10px;
}

.Ingresar_Tarea .Recordatorio .item h3{
  color: white;
  width: 200px;
  margin-left: 10px;
}

.Ingresar_Tarea .Recordatorio .item p {
  background-color: #73B2FF;
  border-radius: 10px;
  margin-left: 70px;
  width: 40px;
  padding: 5px 5px;
  text-align: center
}

.Ingresar_Tarea .Recordatorio button {
  margin-left: 500px;
  margin-top: 20px;
  height: 40px;
  width: 150px;
  color: white;
}

@media only screen and (min-width: 325px) and (max-width: 767px) {

  .Ingresar_Tarea .Recordatorio .contenedor{
    padding: 0px;
  }
  .Ingresar_Tarea .Recordatorio button {
    margin-left: 210px;
    margin-top: 80px;
    height: 40px;
    width: 150px;
    color: white;
  }

  .Ingresar_Tarea .Recordatorio{
    padding: 0px;
  }
  .Ingresar_Tarea .Recordatorio .item {
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
  }
  .Ingresar_Tarea .Recordatorio h1 {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  
}

