
.Ver_Tarea {
  padding: 0px;
}

.Ver_Tarea h1 {
  margin-left: 150px;
}

.Ver_Tarea h4 {
  margin-top: 59px;
  color: rgb(255, 245, 245);
}

.Ver_Tarea p{
  font-size: 20px;
}

.Ver_Tarea .Rayita {
  height: 2px;
  width: 1;
  border-radius: 15px;
  background-color: rgba(212, 186, 186, 0.61);
}

.Ver_Tarea h3 {
  margin-top: 50px;
  color: rgb(255, 245, 245);
}

.Ver_Tarea .text {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  background-color: #73B2FF;
}

.Ver_Tarea .text p{
  margin-left: 10px;
  margin-top: 10px;
}



.Ver_Tarea .Botones {
  float: right;
  margin-right: 50px;
}

.Ver_Tarea .Botones1 {
  display: inline-block;
}

.Ver_Tarea button {
  height: 40px;
  width: 120px;
  display: inline-block;
  margin: 20px;
}

@media only screen and (min-width: 325px) and (max-width: 767px) {

  .Ver_Tarea {
    padding: 10px;
  }
  .Ver_Tarea h1 {
    margin-left: 40px;
  }
  .Ver_Tarea h4 {
    margin-top: 59px;
    
    color: rgb(255, 245, 245);
  }

  .Ver_Tarea .contenedor {
    padding: 0px 50px;
  }
  .Ver_Tarea button {
    height: 40px;
    width: 120px;
    display: inline-block;
    margin-left: 70px;
  }

}