
.Recordatorio h1 {
  margin-left: 150px;
}

.Recordatorio .item {
  display: flex;
  margin-left: 200px;
  margin-top: 20px;
}

.Recordatorio .input{
  height: 10px;
}

.Recordatorio .item h3{
  color: white;
  width: 200px;
  margin-left: 10px;
}

.Recordatorio .item p {
  background-color: #73B2FF;
  border-radius: 10px;
  margin-left: 70px;
  width: 40px;
  padding: 5px 5px;
  text-align: center
}

.Recordatorio button {
  margin-left: 500px;
  margin-top: 20px;
  height: 40px;
  width: 150px;
  color: white;
}
