body {
  background-color: rgb(0, 116, 255);
}

.center_txt {
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

button {
  color: white;
  background-color: rgb(0, 176, 255);
  border: rgb(132, 146, 166);
  border-radius: 50px;
}

.separador{
  border: 1px white dashed;

  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor{
padding: 0 200px;
}