.react-calendar{
    background-color: #00b0ff;
    border-radius: 20px;
    padding: 10px
}
.react-calendar__tile {
    height: 40px;
    margin: 4px 0;
}

.react-calendar__month-view__weekdays__weekday {
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: context-menu;
    margin-top: 15px;
    margin-bottom: 10px;
}

.react-calendar__tile--active {
    background: blue;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: blue;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
    font-size: 18px;
}

.Calendario .contenedor{
    padding: 0 200px;
}

.Calendario button{
    background-color: #0074ff;
}

.Calendario .boton{
    background-color: #00b0ff;
    height: 50px;
    width: 120px;
    font-size: 25px;
    margin-top: 30px;
    float: right;
}

@media only screen and (min-width: 325px) and (max-width: 767px) {
    .react-calendar{
        background-color: #00b0ff;
        border-radius: 20px;
        padding: 10px;
        margin-top: 50px;
    }

    .Calendario .contenedor{
        padding: 0 50px;
    }

    .Calendario .boton{
        background-color: #00b0ff;
        height: 40px;
        width: 100px;
        font-size: 20px;
        margin-top: 30px;
        float: right;
    }
}