.Ingresar_Tarea {
  padding: 50px 0;
}

.Ingresar_Tarea h1 {
  margin-left: 150px;
}

.Ingresar_Tarea h4 {
  margin-top: 59px;
  color: rgb(255, 245, 245);
}

.Ingresar_Tarea p {
  font-size: 20px;
}

.Ingresar_Tarea .Rayita {
  height: 2px;
  width: 1;
  border-radius: 15px;
  background-color: rgba(212, 186, 186, 0.61);
}

.Ingresar_Tarea h3 {
  margin-top: 50px;
  color: rgb(255, 245, 245);
}

.Ingresar_Tarea .text {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background-color: #73b2ff;
}

.Ingresar_Tarea .text .caracteres_restantes {
  color: grey;
  float: right;
  margin-top: 170px;
  margin-right: 10px;
}

.Ingresar_Tarea .Botones {
  float: right;
  margin-right: 50px;
}

.Ingresar_Tarea button {
  height: 40px;
  width: 120px;
  display: inline-block;
  margin: 20px;
}

@media only screen and (min-width: 325px) and (max-width: 767px) {
  .Ingresar_Tarea h1 {
    margin-left: 50px;
  }

  .Ingresar_Tarea .Botones {
    float: right;
    margin-right: 5px;
  }
}
