
.Inicio h1{
    margin-left: 0;
}
    
.Inicio h2{
    margin-left: 0px;
}

.Inicio button{
    height: 60px;
    width: 200px;
    font-size: 25px;
    margin-top: 60px;
}
.Inicio button:nth-child(3) {
    width: 300px;
}