
.Tablero, .Tablero_2{
  height: 500px;
}

.Tablero .fondo, .Tablero_2 .fondo {
  padding: 50px;
  margin: 0 200px;
  background-color: blue;
  border-radius: 20px;
  height: 400px;
}

.Tablero .item, .Tablero_2 .item {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.Tablero .item button, .Tablero_2 .item button  {
  width: 100px;
}

.Tablero .item .basura, .Tablero_2 .item .basura{
  margin-left: 30px;
  height: 50px;
}

.Tablero .btn_añadir, .Tablero_2 .btn_añadir {
  margin-left: 60px;
  height: 50px;
}

.Tablero .btn_añadir {
  margin-top: 150px;
}

.Tablero_2 .btn_añadir {
  margin-top: 45px;
}